@charset "UTF-8";

@media screen and (min-width: 768px)
 {
    div#q input {
        width: 378px;
        height: 40px;
    }
    input {
        height: 40px;
        width: 375px;
    }
    main {
        width: 389px;
    }
    
}